@font-face {
  font-family: 'VisbyRound';
  src: url('./assets/fonts/VisbyRoundCF-Heavy.woff2') format('woff2'),
       url('./assets/fonts/VisbyRoundCF-Heavy.woff') format('woff');
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  z-index: 1;
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background-color: #252525;
  color: #fff4eb;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  caret-color: #fff4eb;
  font-family: 'Consolas', monospace;
  font-size: 16px;
  line-height: 1.3;
}

textarea::placeholder {
  color: var(--placeholder-Color, '#ffe6e6');
  font-size: 150%;
  opacity: 0.5;
  font-family: 'Consolas', monospace;
  font-size: medium;
}

#markdownOutput {
  z-index: 1;
  font-family: 'Consolas', monospace;
  position: absolute;
  background-color: #252525;
  color: #fff4eb;
  display: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 9px;
  line-height: 1.3;
  width: 0;
  height: 0;
  border-color: #202020;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  overflow: auto;
  word-wrap: break-word;
  animation: slideInTop 0.2s linear forwards;
}

#lineCounter {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  width: 6%;
  height: 100%;
  overflow: hidden;
  color: #fff4eb;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 1.3;
  font-family: 'Consolas', monospace;
  font-size: 16px;
  opacity: 0.5;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}


#exitPopup {
  z-index: 4;
  position: fixed;
  display: none;
  width: 45%;
  height: 30px;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #202020;
  border-radius: 9px;
}

#exitPopup #bar {
  z-index: 4;
  height: 100%;
  width: 0%;
  border-radius: 9px;
  background-color: #fff4eb;
}

@keyframes exit {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


#stats {
  z-index: 2;
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: #fff4eb;
  text-align: right;
  font-family: 'Consolas', monospace;
  font-size: medium;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}


#tabNumber {
  z-index: 3;
  position: absolute;
  font-family: 'VisbyRound', monospace;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 250px;
  color: #252525;
  display: none;
  transform-origin: 50% 50%;
  animation: comeFromUser 0.3s forwards ease-out, stayAndGoBack 0.28s forwards 0.9s;
  text-shadow: -2px -2px 0 #fff4eb,  
               2px -2px 0 #fff4eb,
               -2px 2px 0 #fff4eb,
               2px 2px 0 #fff4eb;
}

#achievementToast {
  z-index: 2;
  background-color: #202020;
  color: #fff4eb;
  border: 2px solid #fff4eb;
  position: absolute;
  text-align: center;
  bottom: 1%;
  left: 1%;
  height: 15%;
  width: 25%;
  display: none;
  border-radius: 9px;
  font-family: 'Consolas', monospace;
}

#page {
  z-index: 2;
  border-radius: 9px;
  background-color: #202020;
  color: #fff4eb;
  height: 88%;
  width: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-family: 'Consolas', monospace;
  transition: background-color 0.3s ease;
  border-radius: 9px;
  padding: 15px;
  text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  margin-right: 1%;
  margin-left: 1%;
}

.text {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 100%;
  flex-grow: 1;
  padding: 0 10px;
}

.description {
  font-size: 16px
}

.active-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
}


#fontBox {
  z-index: 2;
  position: absolute;
  box-sizing: border-box;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 6%;
  width: 32%;
}

#fontBox #fontInput {
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: 2px solid #fff4eb;
  background-color: #202020;
  padding-left: 2%;
  color: #fff4eb;
  outline: none;
}

#fontInput::placeholder {
  padding-left: 2%;
  opacity: 0.5;
  font-family: 'Consolas', monospace;
  font-size: medium;
}

ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

li {
  padding: 5px;
}

li.selected {
  background-color: #202020;
}

#suggestions {
  max-height: 200px;
  overflow: auto; 
}


@keyframes pageAnimationIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageAnimationOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes toastAnimationIn {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes toastAnimationOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-110%);
  }
}


@keyframes comeFromUser {
  0% {
    transform: translate(-50%, -50%) translateZ(-1000px) scale(20);
    opacity: 0;
  }
  20% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.15;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) translateZ(0) scale(1);
    opacity: 0.25;
  }
}

@keyframes stayAndGoBack {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.25;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.05;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0;
  }
}


@keyframes textareaTop {
  from {
    height: 100%;
  }
  to {
    height: 50%;
  }
}

@keyframes markdownTop {
  from {
    height: 0%;
  }
  to {
    height: 50%;
  }
}

@keyframes textareaBottom {
  from {
    height: 100%;
  }
  to {
    height: 50%;
  }
}

@keyframes markdownBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes markdownLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes textareaLeft {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes textareaRight {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes markdownRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}